/* EXTERNAL CSS */

/* 1. Aturan untuk tag <h3> (Pemberian margin dan padding) */
.profile-text h3 {
  margin-top: 20px;
  padding-left: 30px;
}

/* 2. Aturan untuk <p> paragraf alasan menjadi programmer */
.reason-text {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #555;
  text-align: justify;
}

/* 3. Aturan untuk tag <img> logo Koda (Ukuran wajib 500px x 500px) */
.logo-img {
  width: 500px;
  height: 500px;
}

/* Penerapan Media Queries untuk layar HP (Maksimal lebar 480px) */
@media (max-width: 480px) {
  body {
    padding: 10px 0px; /* Mengurangi padding body di HP */
  }
  .container {
    width: 95%; /* Kotak biodata melebar penuh di layar kecil */
    padding: 15px;
  }
  .social-buttons-container {
    flex-direction: column; /* Tombol berubah berjejer vertikal ke bawah di HP */
    align-items: center;
    gap: 10px;
  }
  .btn-instagram,
  .btn-wa {
    margin-right: 0 !important; /* Menghilangkan margin samping di HP */
    width: 100%;
    text-align: center;
  }
}
